<div class="row">
  <center>
    <h2><%= t(".my_listings") %></h2>
  </center>
  <% @listings.each do |listing| %>
    <div class="col-sm-6 col-md-5 col-lg-4" id="my_listings">
      <h3>
        <%= link_to listing.title, listing_path(listing) %>
      </h3>
        <%= image_tag listing.photo_url(:thumb).to_s, class: "img-rounded" %>
    </div>
  <% end %>
</div>
