/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 $red: #FF5A5F;
 $matt-red: #FC9396;
 $blue: #30425A;
 $grey: #F5F5F5;
 $dark-grey: #565A5C;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* same height as footer */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.navbar {
  margin-bottom: 0;
  .container-fluid {
    .navbar-header {
      a {
        color: $red;
      }
      a:hover {
        color: $matt-red;
      }
    }
    .navbar-collapse {
      ul li {
        a {
          color: $red;
        }
        a:hover {
          color: $matt-red;
        }
      }
      ul li:hover {
        background: transparent;
        background-color: transparent;
      }
    }
  }
}

.jumbotron {
  background: $dark-grey;
  // background-image:url('http://goo.gl/04j7Nn');
  height: 300px;
  width: 100%;
  // position: absolute;
  // top:0;
  // z-index: -100;
  text-align: center;
  .container {
    h1 {
      color: white;
      font-size: 48px;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: 20px;
    }
    .col-sm-6, .col-md-6{
      form {
        .input-group {
          .input-group-btn {
            button {
              color: white;
              background: $red;
              span {
                color: white;
              }
            }
            button:hover {
              background: $matt-red;
            }
          }
        }
      }
    }
  }
}

.neighborhood-guides {
  border-bottom: 1px solid #dbdbdb;
  // position: relative;
  // top: 300px;
  h2 {
    color: #393c3d;
    font-size: 24px;
  }
  p {
    margin-bottom: 13px;
    font-size: 15px;
  }
}

.learn-more {
  background: $grey;
  padding-bottom: 3rem;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    color: #00b0ff;
  }
}

#listing {
  padding-bottom: 20px; /* div should have .row class wrapper */
}

footer {
  background: $blue;
  position: absolute; /* cannot use relative, will float up if no content */
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 3rem 0 0 0;
  text-align: center;
  font-weight: bold;
  color: white;
  a {
    color: white;
    font-weight: bold;
  }
  a:hover {
    color: #ecf0f1;
    text-decoration: none;
  }
}

