/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require_self
*/

@import 'bootstrap-sprockets';

// Import lumen variables
@import "bootswatch/lumen/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/lumen/bootswatch";


$red: #FF5A5F;
$matt-red: #FC9396;
$blue: #30425A;
$grey: #F5F5F5;
$dark-grey: #565A5C;

/*
 * General/Utility Styles
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* same height as footer */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

* {
  font-size: 1.55rem;
}

/*
 * Navbar
*/
.navbar {
  margin-bottom: 0;
  .container-fluid {
    .navbar-header {
      a {
        color: $red;
      }
      a:hover {
        color: $matt-red;
      }
      .navbar-brand {
        font-size: 2.05rem;
        font-weight: bold;
      }
    }
    .navbar-collapse {
      ul li {
        a {
          color: $red;
          font-size: 1.55rem;
        }
        a:hover {
          color: $matt-red;
        }
      }
      ul li:hover {
        background: transparent;
        background-color: transparent;
      }
    }
  }
}

/*
 * Homepage
*/
.jumbotron {
  background: $dark-grey;
  // background-image:url('http://goo.gl/04j7Nn');
  height: 300px;
  width: 100%;
  // position: absolute;
  // top:0;
  // z-index: -10;
  margin-top: -1rem;
  text-align: center;
  .container {
    h1 {
      color: white;
      font-size: 48px;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: 20px;
    }
    .col-sm-6, .col-md-6{
      form {
        .input-group {
          .input-group-btn {
            button {
              color: white;
              background: $red;
              span {
                color: white;
              }
            }
            button:hover {
              background: $matt-red;
            }
          }
        }
      }
    }
  }
}

.explore {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 3rem;
  h2 {
    color: #393c3d;
    font-size: 30px;
  }
  p {
    margin-bottom: 13px;
    font-size: 18px;
  }
}

.learn-more {
  background: $grey;
  padding-bottom: 3rem;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    color: #00b0ff;
  }
}

/*
 * Listings index & show
*/
#listings {
  padding: 5px;
  div.row {
    div.col-sm-6 {
      div.listing {
        background: $grey;
        border: 1px solid #ededed;
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        padding: 10px;
        div.media {
          a.pull-left {
            padding-right: 0;
            img {
              margin: 0 1rem 0 1rem;
            }
          }
          div.media-body {
            h3.media-heading {
              small {
                font-size: 1.45rem;
              }
              .listing_title {
                a {
                  font-size: 1.85rem;
                }
              }
            }
            p.hidden-xs {
              font-size: 1.45rem;
            }
          }
        }
      }
    }
  }
}

#listing {
  padding-bottom: 4rem; /* div should have .row class wrapper */
  .row {
    #slider {
      .row {
        .booking {
          background: $grey;
          border: 1px solid #ededed;
          -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
          box-shadow: 1px 1px 0 rgba(0,0,0,.2);
          padding: 1rem;
          margin: -4px;
          .col-xs-5, .col-xs-12 {
            .input-group {
              input#readonly {
                background-color: white;
              }
            }
          }
        }
      }
    }
    .col-sm-12 {
      #map {
        height: 300px;
      }
    }
  }
  #slider-thumbs {
    ul.hide-bullets {
      list-style:none;
      margin-left: -40px;
      margin-top:20px;
      li {
        margin: 0 0 1rem 0;
        a {
          cursor: pointer;
        }
      }
    }
  }
}

/*
 * Reservations show
*/
#reservation {
  .row {
    .col-sm-6 {
      .page-header {
        h4 {
          a {
            font-size: 2.25rem;
          }
        }
      }
      .price {
        background: $grey;
        border: 1px solid #ededed;
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        padding: 3rem;
      }
    }
  }
}


/*
 * Footer
*/
footer {
  background: $blue;
  position: absolute; /* cannot use relative, will float up if no content */
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 3rem 0 0 0;
  text-align: center;
  font-weight: bold;
  color: white;
  a {
    color: white;
    font-weight: bold;
  }
  a:hover {
    color: #ecf0f1;
    text-decoration: none;
  }
}


/*
 * Media queries
*/
@media only screen and (max-width: 991px) {
  div.row {
    div.col-md-12 {
      div.page-header {
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }

  #listings {
    div.row {
      -moz-column-width: 37rem;
      -webkit-column-width: 37rem;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
      div.col-sm-6 {
        display: inline-block;
        width:100%;
        float:none;
        padding-bottom:15px;
        div.listing {
          div.media {
            a {
              img {
                max-width: 300px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #listings {
    div.row {
      -moz-column-width: 58rem;
      -webkit-column-width: 58rem;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
      div.col-lg-6 {
        display: inline-block;
        width:100%;
        float:none;
        padding-bottom:15px;
        div.listing {
          div.media {
            a {
              img {
                max-width: 230px;
              }
            }
          }
        }
      }
    }
  }
}
